"*":
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      predefinedColor: "Blue Grey"
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      animations: false
      panelContrast: true
  core:
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "language-objective-c"
      "background-tips"
      "encoding-selector"
      "language-clojure"
      "language-go"
      "language-mustache"
      "language-perl"
      "language-php"
      "language-toml"
      "metrics"
      "open-on-github"
      "release-notes"
      "autoflow"
      "dev-live-reload"
      "grammar-selector"
      "language-gfm"
      "welcome"
      "language-csharp"
      "package-generator"
      "minimap"
      "language-opencl"
      "command-palette"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 20
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "8e4c8905-ae31-1a14-9e27-d9fd7d839909"
  metrics: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
    knownWords: [
      "chapter"
      "section"
      "label"
      "ref"
      "sec"
      "fig"
      "subsection"
      "phoenix"
      "PHOENIX"
      "begin"
      "end"
      "caption"
      "includegraphics"
      "width"
      "centering"
      "small"
      "algorithm"
      "algorithmic"
      "input"
      "subsubsection"
    ]
    localePaths: [
      "/home/bruno/.local/share/dicts"
    ]
    locales: [
      "pt-BR"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
